{% for room in rooms %}
<div class="d-flex justify-content-between">
    <div class="room-lists p-5 my-5">
        <div class="d-flex justify-content-between">
            <a href="profile.html" class="d-flex">
                <div class="profile profile--small">
                    <img
                    src="./profile-1524859358747-2fed3690d7a4.jfif"
                    />
                </div>
                <span>@username</span>
            </a>
            <div class="p-2">
                <span>{{room.created|timesince}} ago</span>
            </div>
        </div>
        <div class="py-5 border-bottom border-white">
            <a href="room.html"
            ><h1>{{room.name}}</h1></a
            >
            <p>
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Pariatur ducimus harum
                dolorem, obcaecati mollitia omnis quasi aut
                consequuntur enim itaque labore.
            </p>
        </div>
        <div class="d-flex justify-content-between pt-3">
            <a href="room.html" class="">{{room.participants.all.count}} </a>
            <p class="">{{room.topic.name}}</p>
        </div>
    </div>
</div>
{% endfor %}
